{% extends 'base.html.twig' %}

{% block title %}Lista de posts{% endblock %}

{% block body %}
    <div class="list-group m-5 mx-auto w-75">
        {% for post in posts %}
            <div class="list-group-item">
                <a href="{{ path('home_posts_show', {slug: post.slug}) }}">
                    <h4>#{{ post.id }} | {{ post.title }}</h4>
                </a>
                <p class="text-muted m-0">{{ post.user }}</p>
                <p class="text-muted m-0">{{ post.category }}
                    |
                    <b>{{ post.comments | length}} comentarios</b>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
