{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="card mx-auto w-50 p-4 mt-5">
        <h1>Registrarse</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-info w-100">Registrarse</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
